<div class="container">
  <div class="py-5 text-center">
    <h2>Pets</h2>
  </div>

  <a routerLink="/create-pet" routerLinkActive="active" class="btn btn-primary mb-3">Add pet</a>
  <a routerLink="/login" routerLinkActive="active" class="btn btn-secondary mb-3 mx-2" (click)="logout()">LogOut</a>

  <div class="row">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col">Type</th>
        <th scope="col">Fur color</th>
        <th scope="col">Country</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor = "let pet of pets">
        <tr *ngIf="pet.owner != null && pet.owner.id == user.id">
          <td>{{pet.id}}</td>
          <td>{{pet.name}}</td>
          <td>{{pet.code}}</td>
          <td>{{pet.type}}</td>
          <td>{{pet.furColor}}</td>
          <td>{{pet.country}}</td>
          <td>
            <button (click)="editPet(pet.id)" class="btn btn-primary">Edit pet</button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
